<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app">
    <h1>Section4</h1>
    <form v-on:submit.prevent>
      <h2>TODO List</h2>
        <input type="text" v-model="newItem">
        <button v-on:click="addItem">Add</button>
    </form>
    <ul>
      <li v-for="(todo, index) in todos">
        <input type="checkbox" v-model="todo.isDone">
        <span v-bind:class="{ done: todo.isDone }">
          {{ todo.item }}
        </span>
        <button v-on:click="deleteItem(index)">Delete</button>
      </li>
    </ul>

    <h1>Section5</h1>
    <p v-once>{{ message }}</p>
    <button v-on:click="clickHandler">Click!</button>
    <p v-pre>{{ message }}</p>
    <p v-html="message"></p>
    <p v-cloak>{{ message }}</p>
    <h2>Mustache</h2>
    <p>{{message}}</p>
    <h2>v-text</h2>
    <p v-text="message"></p>
    <p>{{ number + 1}}</p>
    <p>{{ message.split('').reverse().join('')}}</p>
    <p>{{ ok ? "YES" : "NO"}}</p>

    <h1>Section6</h1>
    <p>{{ reversedMessage }}</p>
    <p>{{ reversedMessageMethod() }}</p>
    <p>base price: <input type="text" v-model="basePrice"></p>
    <p>tax included price: <input type="text" v-model="taxIncludedPrice"></p>
    <h2>computed:</h2>
    <ol>
      <li>{{ computedNumber }}</li>
      <li>{{ computedNumber }}</li>
      <li>{{ computedNumber }}</li>
    </ol>
    <h2>methods:</h2>
    <ol>
      <li>{{ methodsNumber() }}</li>
      <li>{{ methodsNumber() }}</li>
      <li>{{ methodsNumber() }}</li>
    </ol>

    <h1>Section7</h1>
    <p>{{ message7 }}</p>
    <p><input type="text" v-model="message7"></p>
    <p><input type="text" v-model="km">km</p>
    <p><input type="text" v-model="m">m</p>
    <p>firstName: <input type="text" v-model="firstName"></p>
    <p>lastName: <input type="text" v-model="lastName"></p>
    <h2>watch:</h2>
    <p>fullName: {{ fullName }}</p>
    <h2>computed:</h2>
    <p>fullName: {{ fullNameComputed }}</p>
    <ul>
      <li v-for="color in colors">
        {{ color.name }}
      </li>
    </ul>
    <button v-on:click="onClick">Click!</button>

    <h1>Section8</h1>
    <p><input type="text" v-model="keyword"></p>
    <p>{{ message }}</p>
    <ul>
      <li v-for="item in items">
        <a v-bind:href="item.url" target="_blank">
          {{ item.title }}
        </a>
        likes: {{ item.likes_count }}
      </li>
    </ul>

    <h1>Section9</h1>
    <p>Hello <span class="bg-gray text-blue" v-bind:class="{ large: isLarge, 'text-danger': hasError}">Vue.js!</span></p>
    <p>Hello! <span v-bind:class="largeClass">Vue.js!</span></p>
    <p>Hello! <span v-bind:class="[largeClass, dangerClass]">Vue.js!</span></p>
    <p>Hello! <span v-bind:class="classObject">Vue.js!</span></p>
    <p>Hello! <span v-bind:class="isLarge ? largeClass: dangerClass">Vue.js!</span></p>
    <p>Hello! <span v-bind:style="{ color: color, fontSize: fontSize + 'px' }">Vue.js!</span></p>
    <p>Hello! <span v-bind:style="styleObject">Vue.js!</span></p>

    <h1>Section10</h1>
    <p v-if="toggle">YES</p>
    <p v-else>NO</p>
    <p v-if="color === 'red'">Stop</p>
    <p v-else-if="color === 'yellow'">Caution</p>
    <p v-else-if="color === 'blue'">Go</p>
    <p v-else>Not red / yellow / blue</p>
    <p v-show="toggle">Hello! Vue.js</p>

    <h1>Section11</h1>
    <p>{{ counter }}</p>
    <button v-on:click="counter++">Click!</button>
    <button v-on:click="clickHandler11($event, 'Vue.js')">Click!</button>
    <p>{{ message11 }}</p>
    <button v-on:click.once="clickHandler11_2">Now</button>
    <button @click.once="clickHandler11_2">Now</button>

    <h1>Section12</h1>
    <p>{{ message12 }}</p>
    <input type="text" v-model="message12" value="hogehoge">
    <p>{{ message12 }}</p>
    <textarea v-model="message12"></textarea><br/>
    <label for="checkbox">{{ checked }}</label>
    <input type="checkbox" name="" id="checkbox" v-model="checked"><br/>
    <label for="Red">Red</label>
    <input type="checkbox" name="" id="red" value="Red" v-model="colors12">
    <label for="Green">Green</label>
    <input type="checkbox" name="" id="green" value="Green" v-model="colors12">
    <label for="Blue">Blue</label>
    <input type="checkbox" name="" id="blue" value="Blue" v-model="colors12">
    <p>{{ colors12 }}</p>
    <input type="radio" name="" id="red" value="Red" v-model="color12">
    <label for="red">Red</label>
    <input type="radio" name="" id="green" value="Green" v-model="color12">
    <label for="green">Green</label>
    <input type="radio" name="" id="blue" value="Blue" v-model="color12">
    <label for="blue">Blue</label>
    <p>{{ color12 }}</p>
    <select multiple v-model="selected">
      <option>Red</option>
      <option>Green</option>
      <option>Blue</option>
    </select>
    <p>{{ selected }}</p>
    <input type="text" v-model.lazy="message12_2">
    <input type="text" v-model.trim="message12_2">
    <p>{{ message12_2 }}</p>
    <input type="number" v-model.number="age">
    <p>{{ age + 10 }}</p>

    <h1>Data</h1>
    <pre>{{$data}}</pre>
  </div>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="https://unpkg.com/axios@0.21.1/dist/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.js"></script>
  <script src="js/main.js"></script>
</body>
</html>